nav {
    background-color: pink;
    &:hover{
        background-color: red;
      }
    a{
        color:green;
        padding: 10px 20px;
      }

    }
nav a.active{
    text-decoration: none;
    font-weight: bold;
}    
   